@use "../base/mixins" as *;

.advantages {
  background-color: var(--gray200);
  padding-inline: var(--page-inline-padding);
  padding-block: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__title {
    @include text-style(1.9rem, var(--gray900), 900)
  }

  &__container-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    width: 100%;
    place-items: center;
  }
}