@font-face {
  font-family: "Formular";
  src: url("../assets/fonts/formular/formular-black-trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../assets/fonts/formular/formular-bold-trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../assets/fonts/formular/formular-regular-trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../assets/fonts/formular/formular-light-trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}