$breakpoint-1: 1300px;
$breakpoint-2: 1020px;
$breakpoint-3: 790px;
$breakpoint-4: 570px;
$breakpoint-5: 420px;

:root {
  --black-font-color: #111827;
  --light-font-color: #9CA3AF;

  --purple-color: #8B5CF6;
  --light-purple-color: #DDD6FE;

  --hover-purple-color: #A78BFA;
  --active-purple-color: #6D28D9;

  --background-gray-color: #E5E7EB;

}