$breakpoint-1: 1300px;
$breakpoint-2: 1020px;
$breakpoint-3: 790px;
$breakpoint-4: 570px;
$breakpoint-5: 420px;

:root {
  --purple400: #A78BFA;
  --purple500: #8B5CF6;
  --purple700: #6D28D9;
  --purple200: #DDD6FE;

  --gray50: #F9FAFB;
  --gray200: #E5E7EB;
  --gray900: #111827;

  --transition-duration: 0.2s;

  --page-inline-padding: 12vw;
}